<div class="container">
  <h1 class="mt-5">Realizar la consigna debajo de este mensaje</h1>
  <div>
    <input type="text" [(ngModel)]="searchName" placeholder="Nombre a buscar" (input)="onInputChange()">
    <button class="btn btn-primary" (click)="searchTodos()" *ngIf="showButton">Search</button>
  </div>
  <div *ngIf="filteredTodos.length > 0; else noResults">
    <h2>Todos</h2>
    <ul>
      <li *ngFor="let todo of filteredTodos">
        <p>Title: {{ todo.title }}</p>
        <button class="btn btn-info" (click)="showMoreInfo(todo)">Ver más información</button>
      </li>
    </ul>
  </div>
  <ng-template #noResults>
    <p>No hay resultados</p>
  </ng-template>

  <div *ngIf="specificTodo">
    <h2>Detalles del Todo</h2>
    <p>UserId: {{ specificTodo.userId }}</p>
    <p>Id: {{ specificTodo.id }}</p>
    <p>Title: {{ specificTodo.title }}</p>
    <p>Completed: {{ specificTodo.completed }}</p>
  </div>
</div>
