<div class="container">
  <h1 class="mt-5">Realizar la consigna debajo de este mensaje</h1>
  <div *ngIf="todos.length > 0; else loading">
    <h2>Todos</h2>
    <ul>
      <li *ngFor="let todo of todos">
        <p>UserId: {{ todo.userId }}</p>
        <p>Id: {{ todo.id }}</p>
        <p>Title: {{ todo.title }}</p>
        <p>Completed: {{ todo.completed }}</p>
      </li>
    </ul>
  </div>
  
  <ng-template #loading>
    <p>Loading invitations...</p>
  </ng-template>
</div>

<!-- Html faltante -->
<div>
  <button class="btn btn-primary" (click)="randomMethod()">Search</button>
</div>
